<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Skoda Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-3" style="border:1px solid black">
                <h2>Продуктови групи</h2>
                <ul>
                    <li>
                        <a href="products/products.php?group_id=106">Ауспуси</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=123">Газоразпределитeлен механизъм</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=294">Гарнитури по двигателя</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=112">Горивна уредба</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=118">Гориво смазочни материали</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=41">Датчици</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=132">Двигател</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=122">Ел.уредба</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=78">Жила</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=110">Запалителна уредба</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=613">Инструменти и оборудване</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=386">Климатична уредба</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=115">Кормилна уредба</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=126">Мазилна уредба</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=121">Оборудване на автомобила</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=116">Осветителна уредба</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=119">Охладителна уредба</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=120">Ремъци</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=42">Семеринги</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=57">Скоби</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=128">Спирачна уредба</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=756">Строителна и агротехника</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=113">Трансмисия</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=102">Филтри</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=114">Ходова част</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=470">Части за купето на автомобила</a>
                    </li>
                    <li>
                        <a href="products/products.php?group_id=124">Части за основен ремонт двигател</a>
                    </li>
                </ul>
            </div>


            @RenderBody()

            <div class="col-md-3" style="border:1px solid black">

            </div>
        </div>
        <hr />
        <footer class="panel-footer">
            <div class="footer-links">
                <ul>
                    <li><a href="?section=faq">често задавани въпроси</a></li>
                    <li><a href="?section=returns">условия за връщане</a></li>
                    <li><a href="?section=about">кои сме ние</a></li>
                    <li><a href="?section=terms">общи правила и условия</a></li>
                    <li><a href="?section=contact">връзка с нас</a></li>
                </ul>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
